Django==5.2.6
djangorestframework==3.16.1
psycopg2-binary==2.9.11
python-dotenv==1.2.1
django-cors-headers==4.9.0
whitenoise==6.11.0
argon2-cffi==25.1.0
bcrypt==5.0.0
gunicorn==23.0.0
pillow==11.3.0
python-docx==1.2.0
fpdf2==2.8.1
mammoth==1.8.0
docx2pdf==0.1.8
# mammoth and xhtml2pdf removed as they are too heavy for Render Free
